@charset "utf-8"; 
/* @ rule 선언을 의미함 */
/* 문자 인코딩 선언 */


/* 
  * 기본스타일 
  - 글꼴 ( 웹폰트 ) - CJK 
  - 링크
  - 색상 (전경, 배경)
*/
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');


@import url('./normalize.css');
@import url('./reset.css');


/* 
  기본 스타일 
  - serif
  - sans-serif  요즘 웹은 가독성을 위하여 sans-serif

  - 설계를 잘못하면 em -> rem 권장
  - em 은 계산된 px를 상속 , rem 은 root px
*/
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  /* rem 계산하기 쉽게하기 위해서 */
  font-size: 10px;
}
/* 

  상속
  - Dom Tree
*/
body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  font-size: 1.4rem;
  color: #181818;
  background: #fff;
}

a {
  /* inherit color를 상속받음 */
  color: inherit;
  text-decoration: none;
}

/* a:link {
  color: green;  
}

a:visited{
  color: grey;
}

a:hover, a:focus {
  color: red;
} */


/* 2019. 07. 27. */
/* 공통 스타일 */
legend, .a11y-hidden {
  position: absolute;
  /* top: -9990em; */
  height: 1px;
  width: 1px;
  overflow: hidden;  
  /* background: blue; */
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

/* 작은 디바이스 스타일 */
@media screen and (max-width: 319px) {
  /* 헤더 스타일 */
  .header {
    background: #38302e;
    color: white;
    padding: 1em;
  }

  /* 멤버 스타일 */
  .member {
    margin: 1em 0;
  }

  /* .search-form {
    padding-top: 1em;
    padding-bottom: 1em;
  } */

  .search-form fieldset {
    font-size: 0;
  }

  input[type="search"] {
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 30px;
    padding: 2px 2px 2px 5px;
    width: calc(100% - 30px - 1em);
    font-size: 1.4rem;
    margin-right: 0.5em;
  }

  .btn-search {
    position: relative;
    width : 30px;
    height : 30px;
    border: 0;
    padding: 0;
    background: transparent;
    font-size: 1.4rem;
  }

  .btn-search::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background: url('./images/btn_search.png') no-repeat 0 0 / 100% 100%;
      width: 100%;
      height: 100%;
  }

}

/* 모바일 기준 세로 기준 320 */
/* 모바일 스타일 */
@media screen and (min-width: 320px) and (max-width: 999px) {
  /* 모바일 헤더 */

  /* 순서를 바꾸고 싶으면 부모에게 display: flex . */
  .header {
    background: #38302e;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo, .member, .search-form {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* 모바일 멤버 링크 */
  .member {
    background: #988574;
    padding-top: .5em;
    padding-bottom: .5em;
    order: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  /* A tag 를 확장하여 터치하기 유리하도록 설계 */
  .member a {
    display: inline-block;
    padding: 0.5em 1em;
    margin-right: -1em;
  }

  .member a:hover, .member a:focus {
    color: #ff0;
  }

  /* 모바일 로고 */
  .logo img {
    vertical-align: top;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /*
    em 및  %를 권장 하는 이유 
    글자의 크기가 바뀔 때마다 유연하게 적용하기 위해서
  */

  /* 모바일 검색폼 */
  .search-form {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .search-form fieldset {
    font-size: 0;
  }

  input[type="search"] {
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 30px;
    padding: 2px 2px 2px 5px;
    /* placeholder 관련하여 5px */
    /* height: 3em;
    padding: .2em .2em .2em .5em; */
    width: calc(100% - 30px - 1em);
    /* 연산 기호 좌우로는 공백이 있어야 한다. 마이너스 값 때문에 이렇게 설정합니다. */
    font-size: 1.4rem;
    margin-right: 1em;
  }

  .btn-search {
    position: relative;
    width : 30px;
    height : 30px;
    border: 0;
    padding: 0;
    background: transparent;
    font-size: 1.4rem;
  }

  .btn-search::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background: url('./images/btn_search.png') no-repeat 0 0 / 100% 100%;
      width: 100%;
      height: 100%;
  }

}


/* 데스크탑 스타일 */
@media screen and (min-width: 1000px) {
  /* 
      실습 때문에 1000
      mobile 320~414 | 568~812
      table 768~834 | 1024 ~ 1112
      laptop 1200 +
  */

  /* 
    - 2019.08.03
    position : r, a
    float : r, l
    display : inline
   */
  /* 데스크톱 레이아웃 */
  .header, .menu {
    width: 1000px;
    /*  
      겹칠만한 상황이 있을 가능성이 높은 경우에는 단축표기 법을 자제하면 좋다.
    */
    margin-left: auto;
    margin-right: auto;
  }

   /* 데스크톱 헤더 */
   .header {
     position: relative;
   }

   /* 데스크톱 로고 */
   .logo {
     position: absolute;
     left: 0;
     top: 50%;
     margin-top: -29px;
     /* transform: translateY(-50%); */
   }

  .member {
    position: relative;
    right : -10px;
    text-align: right;
    padding: 2px 0;
  }
  .member li , .member a{
    display: inline-block;
  }

  /* .member li:nth-child(n+2)::before {
    content: "|";
  } */
  .bar::before {
    content: "|";
  }

  .member a {
    padding: 0.5em 10px;
    margin-left: 3px;
  }

  .search-form {
    text-align: right;
    margin: 1em 0;
  }

  .search-form input[type="search"] {
    width: 400px;
    height: 35px;
    border: 1px solid #999;
    padding: 1px 1px 1px 5px;
    border-radius: 5px;
    margin-right: 0.5em;
  }

  .btn-search {
    height: 35px;
    border : 1px solid #999;
    padding: 1px 1em;
    background: #988574;
    color: #fff;
    border-radius: 5px;
    /* transition: border-radius 0.6s; */
  }

  /* .btn-search:hover, .btn-search:focus {
    border-radius: 0 15px;
  } */

  /* 데스크톱 네비게이션 */
  .navigation {
    background: #988574;
    /* x축, y축, 블러, 스프라이트, 색상 */
    /* box-shadow의 경우는 마진겹침 현상 발생가능성이 있음 */
    /* box-shadow: 0 -2px 5px 0 #000, 0 2px 5px 0 #000; */
    border-top : 2px solid #181818;
    border-bottom : 2px solid #181818;
  }

  /* 데스크톱 메뉴 */
  .menu {
    margin-top : 20px;
    /* margin-bottom : 20px; */
    /* overflow 에서 기본값 (visible) 만 아니면 자식의 float의 위치를 찾아준다. */
    /* overflow-y: auto; */
    
    color: #fff;
  }

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  .menu-list {
    float: left;
  }

  .menu-list:nth-child(n+2) {
    margin-left: 100px;
  }

  .menu-item {
    font-size: 1.8rem;
    text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000;
  }

  .sub-menu {
    margin: 1em;
  }

  .sub-menu li {
    margin-bottom: 1em;
  }
}
