@charset "utf-8"; 
/* @ rule 선언을 의미함 */
/* 문자 인코딩 선언 */


/* 
  * 기본스타일 
  - 글꼴 ( 웹폰트 ) - CJK 
  - 링크
  - 색상 (전경, 배경)
*/
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

@import url('./normalize.css');
@import url('./reset.css');

@import url('./fonts.css');


/* 
  기본 스타일 
  - serif
  - sans-serif  요즘 웹은 가독성을 위하여 sans-serif

  - 설계를 잘못하면 em -> rem 권장
  - em 은 계산된 px를 상속 , rem 은 root px
*/
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  /* rem 계산하기 쉽게하기 위해서 */
  font-size: 10px;
}
/* 

  상속
  - Dom Tree
*/
body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  font-size: 1.4rem;
  color: #181818;
  background: #fff;
}

a {
  /* inherit color를 상속받음 */
  color: inherit;
  text-decoration: none;
}

/* a:link {
  color: green;  
}

a:visited{
  color: grey;
}

a:hover, a:focus {
  color: red;
} */


/* 2019. 07. 27. */
/* 공통 스타일 */
legend, .a11y-hidden {
  position: absolute;
  /* top: -9990em; */
  height: 1px;
  width: 1px;
  overflow: hidden;  
  /* background: blue; */
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.responsive-wrap {
  display: grid;
  /* grid-template-columns: 50%;
  justify-content: center; */
}

.responsive {
  max-width: 100%;
  height: auto;
}

/* 공통 추천 서적 */
.recommend-book-cover {
  justify-self: center;
  text-align: center;
}

.recommend-book-detail {
  text-align: center;
}

.recommend-book-author, .recommend-book-author-name {
  display: inline;
}

.recommend-book-grade {
  font-size: 2.5rem;
}

.recommend-book-grade [class^="icon-star"] {
  margin-left: -0.5em;
  color: #abd375;
}



/* 작은 디바이스 스타일 */
@media screen and (max-width: 319px) {
  /* 헤더 스타일 */
  .header {
    background: #38302e;
    color: white;
    padding: 1em;
  }

  /* 멤버 스타일 */
  .member {
    margin: 1em 0;
  }

  /* .search-form {
    padding-top: 1em;
    padding-bottom: 1em;
  } */

  .search-form fieldset {
    font-size: 0;
  }

  input[type="search"] {
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 30px;
    padding: 2px 2px 2px 5px;
    width: calc(100% - 30px - 1em);
    font-size: 1.4rem;
    margin-right: 0.5em;
  }

  .btn-search {
    position: relative;
    width : 30px;
    height : 30px;
    border: 0;
    padding: 0;
    background: transparent;
    font-size: 1.4rem;
  }

  .btn-search::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background: url('./images/btn_search.png') no-repeat 0 0 / 100% 100%;
      width: 100%;
      height: 100%;
  }

}

/* 모바일 기준 세로 기준 320 */
/* 모바일 스타일 */
@media screen and (min-width: 320px) and (max-width: 999px) {
  /* 모바일 헤더 */

  /* 순서를 바꾸고 싶으면 부모에게 display: flex . */
  .header {
    background: #38302e;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo, .member, .search-form {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* 모바일 멤버 링크 */
  .member {
    background: #988574;
    padding-top: .5em;
    padding-bottom: .5em;
    order: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  /* A tag 를 확장하여 터치하기 유리하도록 설계 */
  .member a {
    display: inline-block;
    padding: 0.5em 1em;
    margin-right: -1em;
  }

  .member a:hover, .member a:focus {
    color: #ff0;
  }

  /* 모바일 로고 */
  .logo img {
    vertical-align: top;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /*
    em 및  %를 권장 하는 이유 
    글자의 크기가 바뀔 때마다 유연하게 적용하기 위해서
  */

  /* 모바일 검색폼 */
  .search-form {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .search-form fieldset {
    font-size: 0;
  }

  input[type="search"] {
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 30px;
    padding: 2px 2px 2px 5px;
    /* placeholder 관련하여 5px */
    /* height: 3em;
    padding: .2em .2em .2em .5em; */
    width: calc(100% - 30px - 1em);
    /* 연산 기호 좌우로는 공백이 있어야 한다. 마이너스 값 때문에 이렇게 설정합니다. */
    font-size: 1.4rem;
    margin-right: 1em;
  }

  .btn-search {
    position: relative;
    width : 30px;
    height : 30px;
    border: 0;
    padding: 0;
    background: transparent;
    font-size: 1.4rem;
  }

  .btn-search::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background: url('./images/btn_search.png') no-repeat 0 0 / 100% 100%;
      width: 100%;
      height: 100%;
  }

  /* 모바일 내비게이션 */

  .navigation  {
    background: blue;
  }

  /* 모바일 메뉴 제어 버튼 */
  .btn-menubar {
    background: transparent;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    position: absolute;
    top : 7rem;
    right: 20px;
    overflow: hidden;
  }

  .menubar {
    position: absolute;
    background: white;
    width: 100%;
    height: 26%;
    display: block;
    left : 0;
    transition: all 0.4s;
    /* transition-property: top, transform;
    transition-duration: 500ms,500ms;
    transition-delay: 0s, 500ms; */

    /* transition-property: transform, background, top;
    transition-duration: 500ms, 1000ms, 500ms;
    transition-delay: 0s, 500ms, 1000ms;
    transition-timing-function: ease-in-out; */
  }

  .menubar-top {
    top : 0;
  }

  .is-act .menubar-top {
    top : 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .menubar-middle {
    top : 50%;
    transform: translateY(-50%);
  }
  .is-act .menubar-middle {
    transform: translate(-100%, -50%);
  }

  .menubar-bottom {
    top : 100%;
    transform: translateY(-100%);
  }
  .is-act .menubar-bottom {
    top : 50%;
    transform: translateY(-50%) rotate(-45deg);
  }


  /* 모바일 메인 메뉴 */
  .menu {
    background: rgba(0, 0, 0, .85);
    color: #fff;
    position: fixed;
    /* fixed 일 경우에는 left로 이동시 성능 이슈가 있음. */
    top : 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: all .2s;
    transition-timing-function: ease-in-out;

    padding: 1.5em;
  }

  .is-act .menu {
    transform: translateX(0);
  }

  .menu-item {
    margin: 1em 0;
    display: block;
    cursor: pointer;
  }

  .sub-menu {
    display: none;
    margin-left: 3em;
    list-style: circle;
  }

  .sub-menu li {
    margin-bottom: .5em;
  }

  .menu-act .sub-menu {
    display: block;
  }

  /* 모바일 추천 서적 */
  .recommend-book-cover {
    width: 50%;
  }
}


/* 데스크탑 스타일 */
@media screen and (min-width: 1000px) {
  /* 
      실습 때문에 1000
      mobile 320~414 | 568~812
      table 768~834 | 1024 ~ 1112
      laptop 1200 +
  */

  /* 
    - 2019.08.03
    position : r, a
    float : r, l
    display : inline
   */
  /* 일레이아웃 */
  .header, .menu, .main {
    width: 1000px;
    /*  
      겹칠만한 상황이 있을 가능성이 높은 경우에는 단축표기 법을 자제하면 좋다.
    */
    margin-left: auto;
    margin-right: auto;
  }

   /* 데스크톱 헤더 */
   .header {
     position: relative;
   }

   /* 데스크톱 로고 */
   .logo {
     position: absolute;
     left: 0;
     top: 50%;
     margin-top: -29px;
     /* transform: translateY(-50%); */
   }

  .member {
    position: relative;
    right : -10px;
    text-align: right;
    padding: 2px 0;
  }
  .member li , .member a{
    display: inline-block;
  }

  /* .member li:nth-child(n+2)::before {
    content: "|";
  } */
  .bar::before {
    content: "|";
  }

  .member a {
    padding: 0.5em 10px;
    margin-left: 3px;
  }

  .search-form {
    text-align: right;
    margin: 1em 0;
  }

  .search-form input[type="search"] {
    width: 400px;
    height: 35px;
    border: 1px solid #999;
    padding: 1px 1px 1px 5px;
    border-radius: 5px;
    margin-right: 0.5em;
  }

  .btn-search {
    height: 35px;
    border : 1px solid #999;
    padding: 1px 1em;
    background: #988574;
    color: #fff;
    border-radius: 5px;
    /* transition: border-radius 0.6s; */
  }

  /* .btn-search:hover, .btn-search:focus {
    border-radius: 0 15px;
  } */

  /* 데스크톱 네비게이션 */
  .navigation {
    background: #988574;
    /* x축, y축, 블러, 스프라이트, 색상 */
    /* box-shadow의 경우는 마진겹침 현상 발생가능성이 있음 */
    /* box-shadow: 0 -2px 5px 0 #000, 0 2px 5px 0 #000; */
    border-top : 2px solid #181818;
    border-bottom : 2px solid #181818;
  }

  .btn-menubar {
    display: none;
  }

  /* 데스크톱 메뉴 */
  .menu {
    margin-top : 20px;
    /* margin-bottom : 20px; */
    /* overflow 에서 기본값 (visible) 만 아니면 자식의 float의 위치를 찾아준다. */
    /* overflow-y: auto; */
    
    color: #fff;
  }

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  .menu-list {
    float: left;
  }

  .menu-list:nth-child(n+2) {
    margin-left: 100px;
  }

  .menu-item {
    font-size: 1.8rem;
    font-weight: 700;
    text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000;
  }

  .sub-menu {
    margin: 1em;
  }

  .sub-menu li {
    margin-bottom: 1em;
  }

  /* 2019. 08. 17 */
  /* 데스크탑 메인 컨텐츠 */
  .main {
    background: yellow;
    display: grid;
    grid-template-columns: repeat(12, 65px);
    /* grid-template-rows: 300px 300px; */
    grid-template-rows: auto auto;
    /* grid-column-gap: 20px; */
    grid-template-areas: "book book book book news news news news news news news news"
                         "board board board board twitter twitter twitter twitter twitter favorite favorite favorite";

    /* justify-items: center;
    align-items: center; */
    justify-content: space-between;
    align-content: stretch;
  }

  .main-content {
    /* height: 200px; */
  }

  /* 추천서적 */
  .recommend-book {
    background: pink;
    /* grid-column-start: 1;
    grid-column-end: 5; */
    /* grid-column: 1/5; */
    /* grid-area: 1/1/2/5; */
    grid-area : book;
  }

  /* 새소식 */
  .news {
    background: lime;
    /* grid-column-start: 5;
    grid-column-end: 13; */
    /* grid-column: 5/13; */
    /* grid-area: 2/5/3/13; */
    grid-area: news;
  }
  .board {
    background: gray;
    /* grid-column-start: 1;
    grid-column-end: 5; */
    /* grid-column: 1/5; */
    /* grid-area : 2/1/3/5; */
    grid-area : board;
    
  }
  .favorite-site {
    background: orange;
    /* grid-column-start: 10;
    grid-column-end: 13; */
    /* grid-column: 10/13; */
    /* grid-area : 1/10/2/13; */
    grid-area : favorite;
  }
  .twitter {
    background: skyblue;
    /* grid-column-start: 5;
    grid-column-end: 10; */
    /* grid-row-start: 2;
    grid-row-end: 3; */
    /* grid-column: 5/10; */
    /* grid-row: 2/3; */
    /* grid-area: 2/5/3/10; */
    /* grid-area: 1/5/2/10; */
    grid-area: twitter;
  }

  /* 데스크탑 추천 서적 */
  .recommend-book-cover {
    width: 80%;
  }

}
